.dropMenu {
  display: none;
  padding: 10px;
}
.dropMenu-clicked {
  width: 300px;
  position: absolute;
  list-style: none;
  text-align: start;
  background: none;
  margin-top: 20px;
  z-index: 2;
}

.contactItem {
  text-align: center;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.contactItem a {
  text-decoration: none;
  color: #b8d8d8;
  font-size: 80%;
}
