.dropMenu {
    display: none;
    padding:10px;
}
.dropMenu-clicked {
    width: 300px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    background: none;
}

.contactItem {
    text-align: center;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.contactItem:hover {
    /* background: #5cabff; */
}
