.aboutWrapper {
  color: rgb(214, 214, 214)
}

.aboutMe {
  margin-top: 25px;
  font-family: "Special Elite";
  font-size: 400%;
  text-align: center;
}

.headshot {
  margin-left: 10px;
  padding: 0px;
  width: 400px;
}

.aboutText {
  margin-top: 30px;
  font-size: 25px;
  font-family: "Merriweather", serif;
  line-height: 2;
  text-align: center;
}
