.aboutWrapper {
  color: #b8d8d8;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.mainContents {
  display: flex;
}

.aboutMe {
  margin-top: 15px;
  font-family: "Special Elite";
  font-size: 400%;
  text-align: center;
  margin-bottom: 15px;
}

.headshot {
  display: flex;
  margin-left: 10px;
  padding: 0px;
  width: 400px;
  height: 400px;
}

.aboutText {
  width: 100%;
  margin-top: 10px;
  font-family: "Merriweather", serif;
  line-height: 2;
  text-align: center;
}

#textBlock {
  float: left;
  line-height: 1.5;
  font-size: 25px;
  text-align: justify;
}

@media screen and (min-width: 1550px) {
  .headshot {
    min-width: 600px;
    min-height: 600px;
    margin: auto;
  }
  #textBlock {
    line-height: 2;
    font-size: 30px;
  }
}
@media screen and (max-width: 1012px) {
  .mainContents {
    display: block;
  }

  .headshot {
    margin: auto;
  }
}

#textBlock {
  text-align: center;
}

@media screen and (max-width: 465px) {
  .headshot {
    width: 90%;
    height: 90%;
  }
  .aboutMe {
    font-size: 45px;
  }
  #textBlock {
    font-size: large;
    line-height: 1.4;
  }
}
