.scrollToProject {
  display: flex;
  justify-content: space-evenly;
}

.cardsRow {
  margin-top: 15px;
  color: #b8d8d8;
  font-size: 25px;
  list-style-type: none;
  cursor: pointer;
  background-color: #005cfa;
  border-radius: 25px;
  padding: 8px;
  font-family: "Merriweather", serif;
}

.cardsRow:hover {
  transform: scale(1.1);
}
