/* Background image source: Pexels/David Bartus (https://www.pexels.com/photo/white-and-black-wooden-board-963278/) */

body {
  text-align: center;
  background-image: url("images/background2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; 
}

header {
  text-align: left;
  font-size: 200%;
  padding-left: 40px;
  padding-top: 50px;
  font-family: "Special Elite";
}

h1 {
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  font-size: 55px;

}

.diagonal {
  content: "";
  display: block;
  background: linear-gradient(180deg, black 40%, white);
  width: 115%;
  height: 420px;
  position: absolute;
  left: -10%;
  top: -20%;
  transform: rotate(4deg);
  z-index: -1;
}

nav {
  position: relative;
  right: 30px;
  bottom: 50px;
  float: right;
  height: 40px;
  width: 75%;
  font-size: 25px;
  border-radius: 10px 0px 0px 10px;
}

/* Navigation bar buttons */

nav button {
  padding: 5%;
  color: #880808;
  font-size: 30px;
  text-decoration: none;
  background: none;
  border: none;
  position: relative;
}

/* Sets button effects */

nav button:hover {
  color: white;
  background-color: #d21404;
  border-radius: 30px;
  opacity: 1;
  transition: 0.5s ease-out;
}


p {
  position: relative;
  right: 100px;
  top: 150px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  line-height: 1.4;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  background: rgb(105, 105, 105, 0.4); 
}

.aboutMe {
  position: relative;
  right: 90px;
  top: 150px;
  font-family: "Special Elite";
}

#headshot {
  position: relative;
  height: 500px;
  float: left;
  top: 80px;
  left: 90px;
  border-radius: 50px;
  min-width: 400px;
}

.workTitle {
  font-family: "Special Elite";
  margin-top: 100px;
}

#workP {
  top: 10px;
  left: 330px;
  margin-bottom: 60px;
  width: 70%;
}

#sample1 {
  width: 90%;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 30px;
}
/* 
#sample2,
#sample3,
#sample4 { */
  /* height: 400px;
  position: relative;
  border: 3px solid black;
  
  transform: scale(300px, 300px);
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
/* } */

/* Popup container
.descriptionPopup {
    position: relative;
    display: inline-block;
}
  SAVE FOR LATER
  .descriptionPopup .descriptionText {
    visibility: hidden;
    width: 600px;
    background-color: #D21404;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
    border-radius: 30px;
    margin-top:80px;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
}
  
.descriptionPopup:hover .descriptionText {
    visibility: visible;
    opacity: 1;
    transition: .5s ease-out; */

/* } */

#contact {
  font-size: 20px;
  background: linear-gradient(180deg, black 2%, white);
  padding-bottom: 50px;
  width: 100%;
}

#contact h2 {
  padding-top: 40px;
  font-size: 45px;
  font-family: "Special Elite";
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

#contact a {
  position: relative;
  color: #880808;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  top: 20px;
}

#contact a:hover {
  color: white;
  background-color: #d21404;
  border-radius: 30px;
  opacity: 1;
  transition: 0.5s ease-out;
  padding: 20px;
}

@media screen and (min-width: 992px) {
}
