.header {
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
  font-family: "Special Elite";
  background: linear-gradient(-184deg, #005cfa, #050505 );
}

.myName {
  color: #B8D8D8;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  font-size: 65px;
}

.subheader {
  color: #B8D8D8;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

.leftSide {
  width: 35%;
}

.rightSide {
  width: 65%;
  margin-top: 15px;
}
