nav {
  position: relative;
  width: 50%;
  margin: auto;
}

.redButton {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.nav-link {
  font-size: 35px;
  margin-right: 160px;
  color: black;  
}

.nav-link:hover {
  color: white;
  background-color: #d21404;
  border-radius: 50px;
  opacity: 1;
  transition: 0.5s ease-out;
}
