.navLink {
  background: none;
  border: none;
  font-size: 35px;
  padding: 1rem 2rem;
  color: #b8d8d8;
  font-weight: bold;
  font-family: "Merriweather", serif;
  white-space: nowrap;
}

/* Hover effects */
.navLink:hover {
  background-color: #eef5db;
  color: #4f6367;
  border-radius: 50px;
  opacity: 1;
  transition: 0.5s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 1245px) {
  .navWrapper {
    white-space: normal;
  }
}

@media screen and (max-width: 462px) {
  .navWrapper {
    margin-top: 30px;
  }
}
