.myWork {
  position: relative;
  top: 25px;
  font-family: "Special Elite";
  font-size: 400%;
  text-align: center;
  color: #b8d8d8;
}

.topText {
  position: relative;
  margin-top: 25px;
  font-size: 25px;
  font-family: "Merriweather", serif;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
  color: #b8d8d8;
}

.rowTitle {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  padding-left: 60px;
  font-family: "Special Elite";
  font-size: 400%;
  color: #b8d8d8;
}

.Row {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.line {
  background: #403a41;
  background: -webkit-radial-gradient(
    circle farthest-side at center center,
    #ffffff 30%,
    #403a41 100%
  );
  background: -moz-radial-gradient(
    circle farthest-side at center center,
    #ffffff 30%,
    #403a41 100%
  );
  background: radial-gradient(
    circle farthest-side at center center,
    #ffffff 30%,
    #403a41 100%
  );
  position: relative;
  width: 90%;
  right: 5%;
  left: 5%;
  height: 3px;
}

@media screen and (max-width: 972px) {
  .Row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Row Row";
  }
}
