.myWork {
  position: relative;
  top: 25px;
  font-family: "Special Elite";
  font-size: 500%;
  text-align: center;
}

.topText {
  position: relative;
  margin-top: 25px;
  font-size: 25px;
  font-family: "Merriweather", serif;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}

.cardWrapper {
  display: block;
  text-align: center;
}

.rowTitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 60px;
  font-family: "Special Elite";
  font-size: 300%;
}

.Row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 25rem));
  gap: 5rem;
  justify-content: center;
}

.line {
  background: #403a41;
  background: -webkit-radial-gradient(
    circle farthest-side at center center,
    #403a41 30%,
    #ffffff 100%
  );
  background: -moz-radial-gradient(
    circle farthest-side at center center,
    #403a41 30%,
    #ffffff 100%
  );
  background: radial-gradient(
    circle farthest-side at center center,
    #403a41 30%,
    #ffffff 100%
  );
  position: relative;
  width: 90%;
  right: 5%;
  left: 5%;
  height: 3px;
}
