footer {
  padding-top: 20px;
  padding-bottom: 5px;
  background: linear-gradient(-4deg, #005cfa, #050505);
}

button {
  background: none;
  border: none;
}

.contactMe {
  text-align: center;
  color: rgb(214, 214, 214);
  font-size: 300%;
  padding-bottom: 15px;
  font-family: "Special Elite";
}

.contactLinks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

#linkedin,
#github,
#resume,
#emailAddress {
  text-decoration: none;
  font-size: 35px;
  color: #880808;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

/* Hover effects */
#linkedin:hover,
#github:hover,
#resume:hover,
#emailAddress:hover {
  color: white;
  background-color: #d21404;
  border-radius: 50px;
  opacity: 1;
  transition: 0.5s ease-out;
}
