.buttonsDiv {
  display: flex;
  justify-content: space-evenly;
}

.emailAddress {
  color: #005cfa;
  font-size: 75%;
}

.emailButton {
  width: 40%;
  color: #005cfa;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 10px;
}

.emailButton:hover {
  color: #b8d8d8;
  background-color: #005cfa;
}